.next-step {
  display: flex;
  margin: 115px 0;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__list-el {
    display: flex;
    flex-direction: column;

    width: calc(100% / 3 - 25px);
    margin-top: 45px;
    padding: 35px 20px;

    transition: .2s ease-in-out;
    border-radius: 8px;

    text-align: center;

    @include below($notebook) {
      width: 100%;
    }

    &:hover {
      color: #FFF;
      background: $mainColor;
      box-shadow: 4px 4px 8px #dbdbdb;

      .step-img {
        fill: #fff;
      }

      .btn {
        background: #fff;
        color: $mainColor;
      }

    }
  }

  &__list-el-svg .step-img {
    max-height: 60px;
    max-width: 60px;

    margin: 0 auto;

    fill: $mainColor;
  }

  &__list-el-titl {
    margin-top: 15px;

    font-weight: bold;
    font-size: 16px;
  }

  &__list-el-text {
    margin: 15px 0;
  }

  &__list-el-btn {
    margin-top :auto;
  }

}
