.popularModels-box {
  background: #F2F4F6;
  padding: 70px 0;

  @include below($notebook) {
    padding: 60px 0;
  }

  @include below($tablet) {
    padding: 50px 0;
  }

  @include below($mobileL) {
    padding: 30px 0;
  }
}

.popularModels {

  &-slider {
    padding: 0 20px !important;
  }

  &__title {

    @include below($mobileL) {
      margin: 0 auto 10px;
    }

  }

  &__list {
    margin-top: 40px;
  }

  &__descr-text {
    max-width: 980px;
    margin: 0 auto;

    text-align: center;
    cursor: default;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item-img {
    display: flex;

    img {
      margin: auto;
    }

  }

  &__button-prev,
  &__button-next,
  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;

    svg {
      width: 17px;
      height: 17px;
      padding: 8px;

      background: #FFF;
      border-radius: 50%;
      box-shadow: 0 0 5px #929292;
      transition: .15s ease-in-out;
      opacity: .45;

      @include below($tablet) {
        width: 14px;
        height: 14px;
        padding: 5px;
      }

      &:hover {
        opacity: 1;
        box-shadow: 0 0 10px #c2c0c0;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__button-prev {
    left: 5px;
  }

  &__button-next {
    right: 5px;
    transform: translateY(-50%) rotate(180deg);
  }

  &__slide-box {
    max-width: 360px;
    min-width: 255px;
    height: auto;
    margin: 0 auto;
    padding: 95px 15px 35px 15px;

    background: #E5EAEE;
    border-radius: 8px;
  }

  &__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 240px;
    height: auto;
    margin: 0 auto;

    img {
      height: auto;
      width: auto;
      margin: 0 auto;
      z-index: 2;
    }

  }

  &__item-brand-logo {
    position: absolute;
    display: flex;

    top: 45px;
    left: 50%;
    max-width: 140px;
    max-height: 140px;
    width: 100%;

    transform: translateX(-50%);

    img {
      margin: auto;
      max-width: 155px;
      z-index: 1;
    }

  }

  &__item {
    height: auto !important;
  }

  &__item-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;

    margin-top: 15px;
  }

  &__item-cost {
    font-size: 16px;
    text-align: center;

    margin-top: 5px;
  }

}
