.filterResult {

  padding: 15px 0;

  &-box {
    background: #F2F4F6;
    padding: 0 15px;

    @include below($mobile) {
      padding: 0 5px;
    }

  }

  &__sort {
    display: flex;
    z-index: 999;

    &-element {
      display: flex;
      align-items: center;

      @include below($tablet) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-el-name {
      margin-right: 10px;
    }
  }


  &__listResult {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px 10px;
    justify-content: space-evenly;
    padding: 30px 10px 30px 0;

    @include below(1900px) {
      grid-template-columns: auto auto auto;
    }

    @include below(1275px) {
      grid-template-columns: auto auto;
    }

    @include below($notebook) {
      grid-template-columns: auto auto auto;
    }

    @include below(975px) {
      grid-template-columns: auto auto;
    }

    @include below(675px) {
      grid-template-columns: auto;
    }

  }

  .car-card {
    min-width: 275px;
    max-width: 400px;

    &__item-box {
      background: #fff;
    }
  }
}
