.moreQuestions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 1440px;
  margin: 0 auto;

  &-box {
    background: #F2F4F6;
  }

  &__item-left,
  &__item-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(100% / 2);
  }

  &__item-left {
    margin-top: 70px;
    z-index: 1;

    @include below($tablet) {
      position: absolute;
      display: flex;
      align-items: center;
      z-index: 0;

      left: 50%;
      bottom: 0;
      transform: translateX(-50%);

      opacity: 0.3;
      margin: 0;
    }

  }

  &__left-svg {
    height: 416px;
    width: 472px;

    fill: $mainColor;
    overflow: hidden;

    @include below($notebook) {
      height: 277px;
      width: 311px;
    }

    @include below($tablet) {
      height: 215px;
      width: 190px;
    }

  }

  &__item-right {
    width: calc(100% / 2);
    padding: 45px 0;

    z-index: 2;

    @include below($tablet) {
      width: 100%;
    }

  }

  &__item-right-title {
    text-align: left;
    margin: 0 0 20px 0;
  }

  &__item-right-btn {
    margin: 15px 0 auto;
  }

}
