.choices__list--dropdown .choices__item {
  padding: 10px 10px !important;

}

.choices__list--dropdown {
  z-index: 2;
}

.choices__inner {
  min-height: auto;
  width: 255px;
  border-radius: 7.5px !important;
  border-color: $lightGray;
  background: #ffffff;
}

.choices__list--dropdown {
  border-radius: 7.5px !important;
}

.choices[data-type*=select-one]:after {
  right: 15px;
}
