.brandsListFull {
  display: flex;
  flex-direction: column;

  padding: 45px 0 90px 0;

  @include below($notebook) {
    padding: 70px 0;
  }

  @include below($tablet) {
    padding: 60px 0;
  }

  @include below($mobileL) {
    padding: 40px 0;
  }

  &__stroke-list {
    display: grid;
    grid-template-columns: repeat(5, 155px);
    grid-gap: 10px 15px;
    justify-content: space-around;

    margin: 60px auto 20px auto;
    padding-left: 25px;

    @include below($notebook) {
      grid-template-columns: repeat(4, 155px);
    }

    @include below($tablet) {
      grid-template-columns: repeat(3, 155px);
    }

    @include below(600px) {
      display: none;
    }
  }

  .brandsList {
    padding: 0;
  }

  .brandsList__btn-see-more {
    display: none;
  }

  &__stroke-item {
    position: relative;
    text-align: left;
    padding: 10px 0px;
    font-weight: bold;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 0;
      left: 0;
      bottom: 10px;

      transition: .15s ease-in-out;
      background: #000;
    }

    &:hover::before {
      width: 25%;
    }

    &-count {
      font-weight: 500;
      opacity: .5;
      margin-left: 5px;
      font-size: 16px;
    }
  }

  &__btn-see-more {
    margin-top: 25px;
    font-weight: 400;
  }

  &__auto-count {
    margin-left: 5px;
    margin-right: 10px;
  }
}
