.car-info {
  padding: 25px 0;

  &__car-name {
    margin: 0 auto 10px;

    text-align: left;
  }

  &__car-equip {
    color: #565254;
  }

  &__info-side {
    width: 70%;

    margin-top: 30px;
  }

  &__car-slider {
    max-width: 780px;
  }

  .gallery-thumb {

  }

}
