.trade-in {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 624px;
  width: 100%;

  color: #FFF;
  text-align: center;

  @include below($tablet) {
    min-height: 450px;
  }

  @include below($mobileL) {
    min-height: 400px;
  }

  &__btn {
    margin-top: 15px;
  }

  &__subtitle {
    font-size: 18px;

    @include below($tablet) {
      font-size: 16px;
    }

  }

}
