mixin advantages()
  +b.advantages
    +e.container.container
      +e.title.page-title Теперь услуги дилерского центра вы можете получить онлайн без визита в дилерский центр:
      +e.list
        +e.item
          +e.item-img
            SVG.sprite-img
              USE(xlink:href="../img/spritemap.svg#support")
          +e.item-title Он-лайн консультации
          +e.item-text онлайн консультация с отделом продаж онлайн консультация с отделом продаж онлайн консультация с отделом продаж
        +e.item
          +e.item-img
            SVG.sprite-img
              USE(xlink:href="../img/spritemap.svg#money")
          +e.item-title Он-лайн кредитование
          +e.item-text онлайн подача и подписание заявки на кредит
        +e.item
          +e.item-img
            SVG.sprite-img
              USE(xlink:href="../img/spritemap.svg#tradein")
          +e.item-title Trade in
          +e.item-text дистанционная оценка вашего а/м для сдачи в трейд ин
        +e.item
          +e.item-img
            SVG.sprite-img
              USE(xlink:href="../img/spritemap.svg#service")
          +e.item-title Сервис и обслуживание авто Сервис и обслуживание авто Сервис и обслуживание авто
          +e.item-text консультации мастеров консультантов по ремонту и обслуживанию автомобилей
