include brandsPreview

mixin brandsList()
  +b.brands-list()
    +e.container.container
      +e.stroke-list
        +e.A.stroke-item(href="#") Все марки
          +e.stroke-item-count 1644
        +e.A.stroke-item(href="#") Audi
          +e.stroke-item-count 44
        +e.A.stroke-item(href="#") BMW
          +e.stroke-item-count 44
        +e.A.stroke-item(href="#") Chery
          +e.stroke-item-count 44
        +e.A.stroke-item(href="#") Chevrolet
          +e.stroke-item-count 4
        +e.A.stroke-item(href="#") Citroen
          +e.stroke-item-count 22
        +e.A.stroke-item(href="#") Daewoo
          +e.stroke-item-count 11
        +e.A.stroke-item(href="#") Datsun
          +e.stroke-item-count 44
        +e.A.stroke-item(href="#") Ford
          +e.stroke-item-count 11
        +e.A.stroke-item(href="#") Geely
          +e.stroke-item-count 23
        +e.A.stroke-item(href="#") Honda
          +e.stroke-item-count 7
        +e.A.stroke-item(href="#") Hyundai
          +e.stroke-item-count 2
        +e.A.stroke-item(href="#") Infiniti
          +e.stroke-item-count 10
        +e.A.stroke-item(href="#") Kia
          +e.stroke-item-count 8
        +e.A.stroke-item(href="#") Land Rover
          +e.stroke-item-count 3
        +e.A.stroke-item(href="#") Lexus
          +e.stroke-item-count 7
        +e.A.stroke-item(href="#") Lifan
          +e.stroke-item-count 8
        +e.A.stroke-item(href="#") Mazda
          +e.stroke-item-count 2
        +e.A.stroke-item(href="#") Mercedes-Benz
          +e.stroke-item-count 5
        +e.A.stroke-item(href="#") Mitsubishi
          +e.stroke-item-count 10
        +e.A.stroke-item(href="#") Nissan
          +e.stroke-item-count 10
        +e.A.stroke-item(href="#") Opel
          +e.stroke-item-count 52
        +e.A.stroke-item(href="#") Peugeot
          +e.stroke-item-count 444
        +e.A.stroke-item(href="#") Porsche
          +e.stroke-item-count 44
        +e.A.stroke-item(href="#") Renault
          +e.stroke-item-count 44
        +e.A.stroke-item(href="#") Skoda
          +e.stroke-item-count 44
        +e.A.stroke-item(href="#") Renault
          +e.stroke-item-count 44
        +e.A.stroke-item(href="#") Sssang Yong
          +e.stroke-item-count 44
        +e.A.stroke-item(href="#") Subaru
          +e.stroke-item-count 44
        +e.A.stroke-item(href="#") Suzuki
          +e.stroke-item-count 44
        +e.A.stroke-item(href="#") Toyota
          +e.stroke-item-count 44
        +e.A.stroke-item(href="#") Volkswagen
          +e.stroke-item-count 44
        +e.A.stroke-item(href="#") Volvo
          +e.stroke-item-count 44
        +e.A.stroke-item(href="#") ГАЗ
          +e.stroke-item-count 44
        +e.A.stroke-item(href="#") УАЗ
          +e.stroke-item-count 44
      +e.A.btn-see-more.btn.with-arrow(href="#") Все марки
        +e.auto-count (1,687)
        SVG.arrow-img
          USE(xlink:href="../img/spritemap.svg#arrow-right-solid")
