mixin brandsList()
    .brands-box
        .container
            +b.brandsList
                +e.title.page-title Поиск по маркам
                +e.list
                    +e.A.item(href="#")
                        +e.DIV.itemImg
                            IMG(src='../img/devImages/bmw128x12.png')
                        +e.DIV.itemName BmW
                        +e.DIV.itemCount 2 811 автомобилей
                    +e.A.item(href="#")
                        +e.DIV.itemImg
                            IMG(src='../img/devImages/chevrolet128x128.png')
                        +e.DIV.itemName Chevrolet
                        +e.DIV.itemCount 691 автомобиль
                    +e.A.item(href="#")
                        +e.DIV.itemImg
                            IMG(src='../img/devImages/ford128x128.png')
                        +e.DIV.itemName Ford
                        +e.DIV.itemCount 2 811 автомобилей
                    +e.A.item(href="#")
                        +e.DIV.itemImg
                            IMG(src='../img/devImages/honda128x128.png')
                        +e.DIV.itemName Honda
                        +e.DIV.itemCount 2 811 автомобилей
                    +e.A.item(href="#")
                        +e.DIV.itemImg
                            IMG(src='../img/devImages/hyundai128x128.png')
                        +e.DIV.itemName Hyundai
                        +e.DIV.itemCount Нет в наличии
                    +e.A.item(href="#")
                        +e.DIV.itemImg
                            IMG(src='../img/devImages/jaguar128x128.png')
                        +e.DIV.itemName Jaguar
                        +e.DIV.itemCount 4 автомобиля
                +e.A.btnSeeMore.btn.withArrow(href="#") Смотреть все авто
                    SVG.arrowBtn
                        USE(xlink:href="../img/spritemap.svg#arrow-right-solid")
