mixin carInfo()
  +b.car-info
    +e.container.container
      +e.H1.car-name.page-title Lexus RX L IV 350L
      +e.car-equip Комплектация35 TFSI 1.4 AMT (150 л.с.) Design 35 TFSI S tronic
        +e.wrapper
          +e.info-side.gallery-preview
            +e.car-slider
              .swiper-container.gallery-top
                .swiper-wrapper
                  +e.car-slide.swiper-slide
                    img(src="../img/devImages/car3/1sl.jpg")
                  +e.car-slide.swiper-slide
                    img(src="../img/devImages/car3/2sl.jpg")
                  +e.car-slide.swiper-slide
                    img(src="../img/devImages/car3/3sl.jpg")
                  +e.car-slide.swiper-slide
                    img(src="../img/devImages/car3/1sl.jpg")
                  +e.car-slide.swiper-slide
                    img(src="../img/devImages/car3/2sl.jpg")
                .swiper-button-next
                .swiper-button-prev
              .swiper-container.gallery-thumbs
                .swiper-wrapper
                  +e.car-slide.swiper-slide
                    img(src="../img/devImages/car3/1sl.jpg")
                  +e.car-slide.swiper-slide
                    img(src="../img/devImages/car3/2sl.jpg")
                  +e.car-slide.swiper-slide
                    img(src="../img/devImages/car3/3sl.jpg")
                  +e.car-slide.swiper-slide
                    img(src="../img/devImages/car3/1sl.jpg")
                  +e.car-slide.swiper-slide
                    img(src="../img/devImages/car3/2sl.jpg")
        +e.offer-side
