mixin filterResult()
  .filterResult-box
    +breadcrumbs('Авто в наличии')
    +b.filterResult
      +e.sort
        +e.sort-element
          +e.sort-el-name В каком порядке выводить:
          +e.SELECT.sort-el-select.js-sort-init
            OPTION Сначала дешевые
            OPTION Сначала дорогие
            OPTION Сначача в наличии
            OPTION Сначача в наличии + дешевые
            OPTION Сначача в наличии + дорогие
      +e.hided-filters
        +e.BUTTON.open-hided-filters.btn Открыть фильтр
      // Два варианта find-box (с наличием и без)
      +e.total-find-box
        +e.total-find-key Найдено
        +e.SPAN.total-find-value 1478 автомобилей
      +e.total-find-box
        +e.total-find-key  Нет автомобилей по запросу
      +e.listResult
        +carCard(
          '../img/devImages/car1/a3.png',
          '../img/devImages/car1/a5.png',
          '../img/devImages/car1/a1.png',
          'в наличии',
          'Lexus RX',
          'Комплектация UX 200 #discover',
          '2011',
          'Белый',
          '2.5 л. / 2 л.с',
          '2450 км.',
          'Автоматическая',
          '2 099 000 руб',
          '18 990',
          '1 240 000 руб')

        +carCard(
          '../img/devImages/car3/1sl.jpg',
          '../img/devImages/car3/2sl.jpg',
          '../img/devImages/car3/3sl.jpg',
          'в наличии',
          'Lexus RX',
          'Комплектация UX 200 #discover',
          '2011',
          'Белый',
          '2.5 л. / 2 л.с',
          '2450 км.',
          'Автоматическая',
          '2 099 000 руб',
          '18 990')

        +carCard('../img/devImages/car3.png',
          '../img/devImages/car2.png',
          '../img/devImages/car1.png',
          'в наличии',
          'Lexus RX',
          'Комплектация UX 200 #discover',
          '2011',
          'Белый',
          '2.5 л. / 2 л.с',
          '2450 км.',
          'Автоматическая',
          '2 099 000 руб',
          '18 990',
          '1 240 000 руб')

        +carCard(
          '../img/devImages/car1/a3.png',
          '../img/devImages/car1/a5.png',
          '../img/devImages/car1/a1.png',
          'в наличии',
          'Lexus RX',
          'Комплектация UX 200 #discover',
          '2011',
          'Белый',
          '2.5 л. / 2 л.с',
          '2450 км.',
          'Автоматическая',
          '2 099 000 руб',
          '18 990',
          '1 240 000 руб')

        +carCard(
          '../img/devImages/car3/1sl.jpg',
          '../img/devImages/car3/2sl.jpg',
          '../img/devImages/car3/3sl.jpg',
          'в наличии',
          'Lexus RX',
          'Комплектация UX 200 #discover',
          '2011',
          'Белый',
          '2.5 л. / 2 л.с',
          '2450 км.',
          'Автоматическая',
          '2 099 000 руб',
          '18 990')

        +carCard('../img/devImages/car3.png',
          '../img/devImages/car2.png',
          '../img/devImages/car1.png',
          'в наличии',
          'Lexus RX',
          'Комплектация UX 200 #discover',
          '2011',
          'Белый',
          '2.5 л. / 2 л.с',
          '2450 км.',
          'Автоматическая',
          '2 099 000 руб',
          '18 990',
          '1 240 000 руб')

        +carCard(
          '../img/devImages/car1/a3.png',
          '../img/devImages/car1/a5.png',
          '../img/devImages/car1/a1.png',
          'в наличии',
          'Lexus RX',
          'Комплектация UX 200 #discover',
          '2011',
          'Белый',
          '2.5 л. / 2 л.с',
          '2450 км.',
          'Автоматическая',
          '21 099 000 руб',
          '18 990',
          '12 140 000 руб')

        +carCard(
          '../img/devImages/car3/1sl.jpg',
          '../img/devImages/car3/2sl.jpg',
          '../img/devImages/car3/3sl.jpg',
          'в наличии',
          'Lexus RX',
          'Комплектация UX 200 #discover',
          '2011',
          'Белый',
          '2.5 л. / 2 л.с',
          '2450 км.',
          'Автоматическая',
          '2 099 000 руб',
          '18 990')

        +carCard('../img/devImages/car3.png',
          '../img/devImages/car2.png',
          '../img/devImages/car1.png',
          'в наличии',
          'Lexus RX',
          'Комплектация UX 200 #discover',
          '2011',
          'Белый',
          '2.5 л. / 2 л.с',
          '2450 км.',
          'Автоматическая',
          '2 099 000 руб',
          '18 990',
          '1 240 000 руб')

        +carCard(
          '../img/devImages/car1/a3.png',
          '../img/devImages/car1/a5.png',
          '../img/devImages/car1/a1.png',
          'в наличии',
          'Lexus RX',
          'Комплектация UX 200 #discover',
          '2011',
          'Белый',
          '2.5 л. / 2 л.с',
          '2450 км.',
          'Автоматическая',
          '2 099 000 руб',
          '18 990',
          '1 240 000 руб')

        +carCard(
          '../img/devImages/car3/1sl.jpg',
          '../img/devImages/car3/2sl.jpg',
          '../img/devImages/car3/3sl.jpg',
          'в наличии',
          'Lexus RX',
          'Комплектация UX 200 #discover',
          '2011',
          'Белый',
          '2.5 л. / 2 л.с',
          '2450 км.',
          'Автоматическая',
          '2 099 000 руб',
          '18 990')

        +carCard('../img/devImages/car3.png',
          '../img/devImages/car2.png',
          '../img/devImages/car1.png',
          'в наличии',
          'Lexus RX',
          'Комплектация UX 200 #discover',
          '2011',
          'Белый',
          '2.5 л. / 2 л.с',
          '2450 км.',
          'Автоматическая',
          '2 099 000 руб',
          '18 990',
          '1 240 000 руб')

      +e.showMore.btn.small-btn Показать ещё
