mixin filters()
  +b.filters
    +e.section
      +e.section-title
        +e.name Бренд
        +e.section-arrow
          SVG.arrow-down
            USE(xlink:href="../img/spritemap.svg#arrdown")
      +e.section-list
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Mazda
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Hyundai
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Suzuki
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Mercedes-Benz
    +e.section.closedList
      +e.section-title
        +e.name Марка
        +e.section-arrow
          SVG.arrow-down.closedList
            USE(xlink:href="../img/spritemap.svg#arrdown")
      +e.section-list
        +e.LABEL.checkbox-box.disabled
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name RV-6
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name CX-78
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name MLG-PLAYER
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name WTF_Benz
    +e.section.closedList
      +e.section-title
        +e.name Комплектация
        +e.section-arrow
          SVG.arrow-down.closedList
            USE(xlink:href="../img/spritemap.svg#arrdown")
      +e.section-list
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name SUBER-788
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name OMGx
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name VestCost
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Cold machine
    +e.section.closedList
      +e.section-title
        +e.name Кузов
        +e.section-arrow
          SVG.arrow-down.closedList
            USE(xlink:href="../img/spritemap.svg#arrdown")
      +e.section-list
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Железный
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Пластмассовый
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Криптонитовый
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Выдуманный
    +e.section.closedList
      +e.section-title
        +e.name Кузов
        +e.section-arrow
          SVG.arrow-down.closedList
            USE(xlink:href="../img/spritemap.svg#arrdown")
      +e.section-list
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Железный
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Пластмассовый
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Криптонитовый
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Выдуманный
    +e.section.closedList
      +e.section-title
        +e.name Кузов
        +e.section-arrow
          SVG.arrow-down.closedList
            USE(xlink:href="../img/spritemap.svg#arrdown")
      +e.section-list
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Железный
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Пластмассовый
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Криптонитовый
        +e.LABEL.checkbox-box
          INPUT.checkbox-input(type='checkbox')
          SVG.checkMark
            USE(xlink:href="../img/spritemap.svg#checksolid")
          +e.SPAN.checkbox-name Выдуманный
