mixin footer()
  .footer-box
    .container
      +b.footer
        +e.top
          +e.list
            +e.list-title Купить
            +e.list-item Легковые автомобили
            +e.list-item Коммерческий транспорт
            +e.list-item Внедорожники и кроссоверы
            +e.list-item Минивэны
          +e.list
            +e.list-title Mazda
            +e.list-item Mercedes-Benz
            +e.list-item Opel
            +e.list-item Lexus
            +e.list-item Ford
            +e.list-item Nissan
          +e.list
            +e.list-title Услуги
            +e.list-item Покупка онлайн
            +e.list-item Оценка и выкуп онлайн
            +e.list-item Обмен / trade-in онлайн
            +e.list-item Корпоративным клиентам
            +e.list-item Сервис
          +e.list
            +e.list-title Компания
            +e.list-item О Компании
            +e.list-item Оценка и выкуп онлайн
            +e.list-item Обмен / trade-in онлайн
            +e.list-item Корпоративным клиентам
            +e.list-item Сервис
          +e.list
            +e.list-title Мы в социальных сетях
            +e.list-social
              +e.A.social-link
              +e.A.social-link
              +e.A.social-link
              +e.A.social-link
        +e.mid
        +e.bottom
