mixin header()
	HEADER
		.container
			+b.header
				+e.item
					+e.A(href='/').logo
						SVG
							USE(xlink:href="../img/spritemap.svg#logo")

				+e.item
					+b.menu
						+e.A.item(href="/templates/brands.html") Найти автомобиль
						+e.A.item(href="/templates/filterAuto.html") Фильтр авто
						+e.A.item(href="#") Обменять свой авто
						+e.A.item(href="#") Контакты

				+e.item.contactsInfo
					+b.headerInfo
						+e.address
							+e.addressIco
								SVG
									USE(xlink:href="../img/spritemap.svg#mapcounter")
							+e.addressInfo
								+e.dealerName DealerName
								+e.dealerData Волгоград, ул. Жукова, д. 94
						+e.phone
							+e.A.phoneData(href="tel:900") +7 8442 20 06 37
							+e.dealerOnline Сейчас открыто
								SPAN.onlineCounter

				+b.mobileMenuBtn
					+e.toggle
				+b.mobileMenu
					+e.A.item(href="#") Найти автомобиль
					+e.A.item(href="#") Кредитные программы
					+e.A.item(href="#") Обменять свой авто
					+e.A.item(href="#") Контакты
