mixin moreQestions()
  +b.more-questions
    +e.container.container
      +e.item-left
        +e.SVG.left-svg
          USE(xlink:href="../img/spritemap.svg#supporter")
      +e.item-right
        +e.item-right-title.page-title Хотите задать вопрос?
        +e.item-right-subtitle Оставьте заявку и наш менеджер свяжется с вами.
        +e.item-right-btn.js-open-popup.btn.with-arrow Оставить заявку
          SVG.arrow-img
            USE(xlink:href="../img/spritemap.svg#arrow-right-solid")
