mixin moreQestions()
  .moreQestions-box
    .container
      +b.moreQuestions
        +e.item-left
          img
        +e.item-right
          +e.item-right-title Остались вопросы или не нашли нужной информации?
          +e.item-right-subtitle Оставьте заявку и наш менеджер свяжется с вами.
          +e.item-right-btn.btn Оставить заявку
