include ../elements/carCard

mixin newArrivals()
  .newArrivals-box
    .container
      +b.newArrivals
        +e.title.page-title Новые поступления
        +e.list.swiper-container.js-newArrivals-slider
          .swiper-wrapper
            +carCard(
              '../img/devImages/car1/a3.png',
              '../img/devImages/car1/a2.png',
              '../img/devImages/car1/a1.png',
              'В наличии',
              'Lexus RX',
              'Комплектация UX 200 #discover',
              '2011',
              'Белый',
              '2.5 л. / 2 л.с',
              '2450 км.',
              'Автоматическая',
              '2 099 000 руб',
              '18 990',
              '1 240 000 руб')

            +carCard(
              '../img/devImages/car2/b2.jpg',
              '../img/devImages/car2/b3.jpg',
              '../img/devImages/car2/b4.jpg',
              'В наличии',
              'Lexus RX',
              'Комплектация UX 200 #discover',
              '2011',
              'Белый',
              '2.5 л. / 2 л.с',
              '2450 км.',
              'Автоматическая',
              '2 099 000 руб',
              '18 990')

            +carCard('../img/devImages/car3.png',
              '../img/devImages/car2.png',
              '../img/devImages/car1.png',
              'В наличии',
              'Lexus RX',
              'Комплектация UX 200 #discover',
              '2011',
              'Белый',
              '2.5 л. / 2 л.с',
              '2450 км.',
              'Автоматическая',
              '2 099 000 руб',
              '18 990',
              '1 240 000 руб')

          +e.button-prev
            SVG.arrowBtn
              USE(xlink:href="../img/spritemap.svg#arrowleft")
          +e.button-next
            SVG.arrowBtn
              USE(xlink:href="../img/spritemap.svg#arrowleft")

        +e.A.see-more-btn.btn.withArrow(href="#") Перейти в каталог
          SVG.arrowBtn
            USE(xlink:href="../img/spritemap.svg#arrow-right-solid")
