mixin popularBrands()
    .popularModesl-box
        .container
            +b.popularModels
                +e.title.pageTitle Популярные модели автомобилей
                +e.descrText Несмотря на определенные кризисные явления в экономике, количество желающих приобрести легковые авто с пробегом среди наших граждан не уменьшается. Данное обстоятельство поясняется не столько тем, что цена на легковые автомобили бу порой в разы меньше, чем стоимость нового ТС, но и огромным выбором моделей, как зарубежного, так и отечественного автопрома.
                +e.list