mixin popup()
  +b.popup.js-popup
    +e.close-btn.js-close-popup
    +e.info
      +e.title Заказать обратный звонок
      +e.description Можете прям щас
    +e.FORM.form(name='name')
      +e.LABEL.form-label Ваше имя
        INPUT.form-input
      +e.LABEL.form-label Ваш номер телефона
        INPUT.form-input(name='phone' placeholder='+7')
      +e.LABEL.form-label Вкратце вопрос
        TEXTAREA.form-area(name='text')
      +e.BUTTON(type='button').submit.btn Скидыщь
      +e.private-police Нажимая на кнопку "Отправить" вы соглашаетесь с
        A(href='https://reseller.mgcom.ru/privacy_policy?gclid=Cj0KCQiAj9iBBhCJARIsAE9qRtA-aqbvieMS_mzWj_dNCiM0HoVOV1unA5_JY3ClE2VibF5nTXNvHm0aAhjAEALw_wcB') &nbsp; политикой конфедициальности
