mixin slider()
	+b.slider
		+e.container.swiper-container
			+e.swiperWrapper.swiper-wrapper
				+e.swiperItem.swiper-slide
					PICTURE.swipper__picture
						SOURCE.lazy(data-srcset="../img/devImages/testSlide400.jpg" src="../img/devImages/testSlide400.jpg" media="(max-width: 768px)")
						SOURCE.lazy(data-srcset="../img/devImages/testSlide1024.jpg" src="../img/devImages/testSlide1024.jpg" media="(max-width: 1024px)")
						IMG.lazy(data-src="../img/devImages/testSlide.jpg" src="../img/devImages/testSlide.jpg")
				+e.swiperItem.swiper-slide
					PICTURE.swipper__picture
						SOURCE.lazy(data-srcset="../img/devImages/testSlide400.jpg" srcset="../img/devImages/testSlide400.jpg" media="(max-width: 768px)")
						SOURCE.lazy(data-srcset="../img/devImages/testSlide1024.jpg" srcset="../img/devImages/testSlide1024.jpg" media="(max-width: 1024px)")
						IMG.lazy(data-src="../img/devImages/testSlide.jpg" src="../img/devImages/testSlide.jpg")
				+e.swiperItem.swiper-slide
					PICTURE.swipper__picture
						SOURCE.lazy(data-srcset="../img/devImages/testSlide400.jpg" srcset="../img/devImages/testSlide400.jpg" media="(max-width: 768px)")
						SOURCE.lazy(data-srcset="../img/devImages/testSlide1024.jpg" srcset="../img/devImages/testSlide1024.jpg" media="(max-width: 1024px)")
						IMG.lazy(data-src="../img/devImages/testSlide.jpg" src="../img/devImages/testSlide.jpg")
			+e.button-prev
				SVG.arrow-img
					USE(xlink:href="../img/spritemap.svg#arrowleft")
			+e.button-next
				SVG.arrow-img
					USE(xlink:href="../img/spritemap.svg#arrowleft")
