mixin tradeIn()
  +b.trade-in(style='background: url(../img/tradein/tradeinbg.png) center/cover no-repeat;')
    +e.container.container
      +e.title.page-title Обменять свой авто / Trade&nbsp;in
      +e.subtitle Подберите автомобиль в нашем каталоге и заполните заявку онлайн, мы свяжемся с вами и расскажем условия обмена.
      +e.A.btn.btn.with-arrow(href="#") Оценить свой авто
        SVG.arrow-img
          USE(xlink:href="../img/spritemap.svg#arrow-right-solid")
