.car-info {
  padding: 25px 0;

  &__wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: max(600px)  auto;

    margin-top: 30px;

    @include below($desktopM) {
      display: flex;
      flex-direction: column;
    }

  }

  &__car-slider {
    max-height: 600px;
  }

  &__info-side {
    height: 100%;

    cursor: grab;
  }

  &__car-name {
    margin: 0 auto 10px;

    text-align: left;
  }

  &__car-equip {
    color: #565254;
  }

}
