.credit-form {
  display: flex;
  flex-direction: column;

  padding: 25px 30px;
  margin: 15px 0;

  border: 1px solid #e2e1e1;
  border-radius: 4px;

  @include below($tablet) {
    padding: 20px 25px;
  }

  @include below($mobileL) {
    padding: 15px 10px;
  }

  &__description {
    display: flex;
    align-items: center;

    margin-bottom: 20px;

    @include below($tablet) {
      flex-direction: column;
      padding: 0;
    }

  }

  &__info-ico {

    svg {
      width: 40px;
      height: 40px;

      fill: $mainColor;
    }

  }

  &__info-titles {
    margin-left: 20px;
  }

  &__info-title {
    font-weight: 500;
    font-size: 28px;

    @include below($tablet) {
      font-size: 24px;
    }

    @include below($mobileL) {
      font-size: 22px;
    }

  }

  &__info-sub-title {
    font-size: 20px;

    @include below($mobileL) {
      font-size: 16px;
    }

  }

  &__credit-type {
    display: flex;
    margin: 15px 0;
  }

  &__credit-type-element {
    padding: 10px 25px;

    color: #000;
    border: 2px solid $mainColor;
    cursor: pointer;

    @include below($mobileL) {
      padding: 5px 10px;

      font-size: 14px;
    }

    &:nth-child(1) {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:nth-child(2) {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &.is-active {
      background: $mainColor;
      color: #fff;
    }

  }

  &__form {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
  }

  &__ranges {
    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: 20px 0 40px 0;

    border-bottom: 1px solid #E8E9EA;

    @include below($tablet) {
      flex-direction: column;
      border-bottom: none;

      padding: 20px 0;
    }

    input {
      user-select: none;
    }

  }

  &__ranges-element {
    width: calc(100% / 2 - 25px);

    @include below($tablet) {
      width: 100%;

      padding: 5px 0;
    }
  }

  &__range-values input {
    width: 100%;

    pointer-events: none;
    cursor: default;
  }

  &__range-slider {

    .range-slider-box {
      top: -4px;
      height: 4px;
      border-radius: none;
    }

    .noUi-handle {
      width: 22px;
      height: 22px;

      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: none !important;
      outline: none;
      border: 1px solid $mainColor;

      cursor: pointer;

      &:before {
        width: 12px;
        height: 12px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        background: $mainColor;

        border-radius: 50%;
      }

      &:after {
        display: none;
      }

    }

    .noUi-connect {
      background: $mainColor;
    }

  }

  &__info-labels {
    display: flex;

    margin: 25px 0 25px -15px;

    @include below($tablet) {
      width: 100%;
      flex-direction: column;

      margin: 10px 0;
    }

  }

  &__info-label {
    padding: 0 15px;

    @include below($tablet) {
      padding: 5px 0;
    }

  }

  &__info-label-value {
    font-weight: bold;
  }

  &__form-input {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 - 15px);

    @include below($tablet) {
      width: 100%;

      padding: 5px 0;
    }
  }

  &__send-form {
    min-width: 50%;
    margin: 25px auto 0 auto;
  }

  &__form-policy {
    margin-top: 20px;

    font-size: 12px;
  }

}
