.offer-side {
  position: sticky;

  height: max-content;
  top: 25px;
  padding: 20px 15px;
  margin-left: 20px;

  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  @include below($notebook) {
    position: relative;

    top: 0;
    margin: 45px auto;
    padding: 0;

    box-shadow: none;

    @include below($mobileL) {
      margin: 25px auto;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    @include below($notebook) {
      flex-direction: row;
    }

  }

  &__diler-info {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E9EA;
  }

  &__diler-name {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
  }

  &__diler-address,
  &__diler-telephone {
    font-size: 14px;
    color: #242629;
  }

  &__diler-telephone {
    display: block;
    margin-top: 5px;
  }

  &__prices {
    display: flex;
    justify-content: space-between;

    padding: 16px 0;

    border-bottom: 1px solid #E8E9EA;

    @include below($desktopM) {
      flex-direction: column;
      justify-content: flex-start;
    }

    @include below($notebook) {
      width: calc(100% / 2);
      border-right: 1px solid #E8E9EA;
    }

    @include below($tablet) {
      width: calc(100%);
      border-right: none;
    }

  }

  &__price-name {
    font-size: 16px;
    font-weight: 500;
  }

  &__price {
    font-size: 28px;
    font-weight: 700;
    color: $mainColor;
  }

  &__prices-price-box:nth-child(2) {
    .offer-side__price {
      text-decoration: line-through;
      color: $lightGray;
      font-size: 16px;
    }

  }

  &__mods {
    padding: 16px 0;
    border-bottom: 1px solid #E8E9EA;

    @include below($notebook) {
      width: calc(100% / 2 - 5px);
    }

    @include below($tablet) {
      width: calc(100%);
    }

  }

  &__mods-list {
    padding: 12px 0 24px 0;

    @include below($mobileL) {
      font-size: 14px;
    }
  }

  &__see-more-mods {
    color: $mainColor;

    cursor: pointer;

    text-align: center;
  }

  &__total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;

    @include below($notebook) {
      width: calc(100%);
    }

    &-text {
      font-weight: bold;
    }

    &-value {
      font-weight: bold;
      font-size: 30px;
      color: $mainColor;
    }

  }


  &__btns {
    display: flex;
    flex-direction: column;

    margin-top: -10px;

    @include below($notebook) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    @include below($mobileL) {
      flex-direction: column;
    }

    .btn {
      max-width: 100%;
      margin: 0 0 10px 0;

      text-align: center;

      @include below($notebook) {
        width: calc(100% / 2 - 5px);
      }

      @include below($mobileL) {
        width: 100%;
      }

    }

    &-second {
      background: $darkGray;

      &:hover {
        background: $lightGray;
      }
    }
  }

  &__description-text {
    margin-top: 16px;
    font-size: 12px;
    color: $lightGray;
  }

}
