.car-card {
  display: flex;
  align-items: center;
  justify-items: center;

  height: auto !important;

  &__item-box {
    position: relative;
    display: flex;
    flex-direction: column;

    height: 100%;
    max-width: 375px;
    padding: 0px 12px 0 12px;
    margin: 5px auto;

    box-shadow: 0 0 9px #a2a2a266;
    border: 1px solid #e2e1e1;
    background: #F2F4F6;
    border-radius: 4px;
    overflow: hidden;

    @include below($tablet) {
      min-width: 300px;
    }

    @include below($mobileL) {
      max-width: 295px;
    }

  }

  &__location {
    position: absolute;
    top: 5px;
    left: 5px;
    background: #4FC08D;
    color: #fff;
    padding: 2px 5px;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #818181;
    z-index: 2;

    font-size: 12px;

    &::before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      left: -15px;
      top: 50%;

      transform: translateY(-50%);
      background: #53B374;
      border-radius: 50%;
      border: 1px solid #838383;
    }

  }

  &__car-photos {
    width: calc(100% + 24px);
    height: 240px;
    max-width: 420px;
    transform: translateX(-12px);
    margin-bottom: 10px;

    cursor: ew-resize;
  }

  &__photo {
    display: flex;
    align-items: center;
  }

  &__car-name {
    margin: 8px 0 0 0;

    font-family: $titleFont;
    font-size: 20px;
    font-weight: bold;

    color: #242629;
  }

  &__car-year {
    display: flex;
    align-items: center;

    &-ico svg {
      width: 16px;
      height: 16px;

      margin-right: 5px;
      margin-top: 5px;

      fill: #5a5a64;

      @include below($mobileL) {
        width: 25px;
        height: 25px;

        padding-right: 0px;
      }

    }

  }

  &__car-complectation {
    margin: 5px 0 0 0;

    color: #848283;
    font-size: 14px;
  }

  &__car-prices {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: auto 0;
    padding: 10px 0;

    @include below($mobileL) {
      padding: 10px 0;
    }

    .fix-price {
      padding-top: 2px;

      .car-card__price-count {
        color: #8f8f8f;
        text-decoration: line-through;
      }

      .car-card__price-name {
        font-size: 12px;
      }
    }

  }

  &__price-name {
    font-size: 14px;
    font-family: $titleFont;

    color: #565254;

    @include below($mobileL) {
      font-size: 12px;
    }

  }

  &__price-count {
    font-family: $titleFont;
    font-size: 22px;
    font-weight: bold;

    @include below($desktopL) {
      font-size: 20px;
    }

    @include below($mobileL) {
      font-size: 18px;
    }

  }

  &__btns {
    display: flex;
    flex-direction: column;
    padding: 0 0 15px 0;

    .btn {
      position: relative;
      width: 100%;
      padding: 12px 0;
      max-width: 100%;
      margin-top: 10px;

      font-weight: 600;
      font-size: 14px;
      cursor: pointer;

      transition: .15s ease-in-out;

      &:hover {
        background: $mainColorHover;
      }

      @include below($mobileL) {
        padding: 10px 0;
        width: 100%;
      }

    }

  }

  &__button-credit {
    position: relative;
    color: #fff;
    background: $darkGray;

    transition: .25s ease-in-out;

    span {
      margin-left: 5px;
    }

    &:hover {
      background: $lightGray !important;
    }

  }

  .swiper-pagination {
    display: flex;
    height: 100%;
    bottom: 0;
  }

  .swiper-slide {
    opacity: 0 !important;
    transition: .65s ease-in-out;
  }

  .swiper-slide-active {
    opacity: 1 !important;
  }

  .swiper-scrollbar-drag {
    background: $mainColor;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;

    &:only-child {
      display: none;
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
    border-color: $mainColor;
  }

  .swiper-scrollbar {
    opacity: 0.75;
    border-radius: 0 !important;
    left: 2% !important;
    width: 96% !important;
    height: 2px !important;
    bottom: 0px !important;
  }

  &__car-link {

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    
  }

  &__car-tth {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px 10px;

    margin-top: 10px;
    padding: 15px 5px 5px 5px;

    border-bottom: 1px solid #b3b6b854;
    border-top: 1px solid #b3b6b854;

  }

  &__tth-element {
    display: flex;

    align-items: center;
    font-size: 16px;
    font-weight: 500;

    @include below($mobileL) {
      font-size: 14px;
    }

  }

  &__tth-ico svg {
    width: 16px;
    height: 16px;

    margin-right: 10px;

    fill: #5a5a64;

    @include below($mobileL) {
      width: 25px;
      height: 25px;

      padding-right: 5px;
    }

  }

}
