header {
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);

  padding: 10px 0;
  z-index: 2;

  @include below($desktop) {
    padding: 10px 0 0 0;
  }

}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include below($desktop) {
    padding-bottom: 0;
  }


  &__item:nth-child(1) {
    width: calc(100% / 6 - 5px);

    @include below($desktop) {
      padding: 7.5px 0;
      width: 20%;
    }
  }

  &__item:nth-child(2) {
    width: calc(100% / 2 - 5px);

    @include below($desktop) {
      width: 50%;

      font-size: 14px;
    }

    @include below($desktopM) {
      width: 65%;
    }

    @include below($notebook) {
      width: 80%;
      font-size: 14px;
    }

    @include below($tablet) {
      display: none;
    }

  }

  &__item:nth-child(3) {
    width: calc(100% / 3 - 5px)
  }

  @include below($desktop) {
    flex-wrap: wrap;
  }

  &__logo svg {
    width: 150px;
    height: 45px;

    @include below($notebook) {
      width: 125px;
    }

  }

  .contactsInfo {
    position: relative;
    margin-left: 90px;

    @include below($desktop) {
      order: -1;
      width: 100%;
      margin-left: 0px;

      padding: 5px 0;

      border-bottom: 1px solid #F2F4F6;
    }

    &:before {
      position: absolute;
      content: "";

      left: calc(62%);
      top: 0;
      width: 1px;
      height: 90%;

      background: #F2F4F6;

      @include below($desktop) {
        display: none;
      }

    }
  }


  &__menu {
    display: flex;
    justify-content: flex-end;

    width: 100%;
  }

  &__menu-item {
    font-weight: bold;
    font-size: 14px;
    padding: 20px 15px;

    &:hover {
      color: $mainColor;
      cursor: pointer;
      text-decoration: none;
      transition: .15s ease-in-out;
    }

  }

}

.headerInfo {
  display: flex;
  justify-content: space-between;

  @include below($desktop) {
    justify-content: flex-start;
  }

  @include below($mobileL) {
    flex-direction: column;
    text-align: center;
  }


  &__address {
    display: flex;
    align-items: center;
    position: relative;

    width: 60%;

    cursor: default;

    @include below($desktop) {
      width: auto;
      margin-right: 45px;
    }

    @include below($mobileL) {
      margin: 0;
      padding-bottom: 5px;
      border-bottom: 1px solid #F2F4F6;
      flex-direction: column;
    }

    &:before {
      position: absolute;
      content: "";
      display: none;

      right: -25px;
      top: 0;
      width: 1px;
      height: 90%;

      background: #F2F4F6;
      overflow: hidden;

      @include below($desktop) {
        display: block;
      }

      @include below($mobileL) {
        display: none;
      }

    }

  }

  &__addressIco {
    margin: 10px 15px auto 0;

    svg {
      max-width: 23px;
      height: 24px;
      fill: $mainColor;
    }

    @include below($mobileL) {
      display: none;
    }
  }

  &__dealerData {
    font-size: 12px;
  }

  &__dealerName {
    font-weight: bold;
    color: $mainColor;
  }

  &__phone {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include below($mobileL) {
      margin-top: 5px;
    }

  }

  &__phoneData {
    font-weight: bold;
    color: $mainColor;

    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  &__dealerOnline {
    position: relative;

    cursor: default;
    font-size: 12px;
  }

  .onlineCounter {
    position: absolute;
    top: 50%;
    width: 6px;
    height: 6px;
    transform: translate(6px, -50%);
    background: #01a501;
    border-radius: 50%;
  }

}
