* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $titleFont;
  line-height: 1.5;

  color: #242629;
  cursor: default;
}

div {
  cursor: inherit;
}

.row {
  display: flex;
}

h1 {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 35px;
  font-family: $titleFont;
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 35px;
  font-family: $titleFont;
}

h3 {
  padding: 0;
  margin: 0;

  font-weight: 300;
  font-size: 20px;
  font-family: $titleFont;

  @include below($desktop) {
    font-size: 18px;
  }

  @include below($tablet) {
    font-size: 16px;
  }
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  width: calc(100% - 35px);

  @include below($mobileL) {
    width: calc(100% - 20px);
  }

  @include below($mobile) {
    width: calc(100% - 15px);
  }
}

.container-filter {
  max-width: 1920px;
  margin: 0 auto;
  width: calc(100%);
  padding: 0 15px;
  background: #F2F4F6;

  @include below($mobileL) {
    width: calc(100%);
    padding: 0 20px;
  }

  @include below($mobile) {
    width: calc(100%);
    padding: 0 5px;
  }
}

textarea {
  min-height: 100px;

  padding: 12px 20px;

  background: transparent;
  border: 1px solid #e2e1e1;
  color: #242629;
  box-shadow:  none;
  outline: none;

  cursor: pointer;
  border-radius: 4px;
  transition: .2s ease;

  resize: none;

  font-size: 16px;

  @include below($tablet) {
    font-size: 14px;
  }

  &:focus {
    border: 1px solid #8f8f8f;
  }

}

input, select {
  padding: 12px 20px;

  border: 1px solid #e2e1e1;
  color: #242629;
  background: transparent;
  cursor: pointer;
  outline: none;

  border-radius: 4px;
  transition: .2s ease;
  box-shadow:  none;

  font-size: 16px;

  @include below($tablet) {
    font-size: 14px;
  }

  &:focus {
    border: 1px solid #8f8f8f;
  }

}



.form-label {
  font-weight: 500;
}

img {
  width: 100%;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;

  &text:visited {
    text-decoration: none
  }

  &text:hover {
    text-decoration: none
  }

  &text:active {
    text-decoration: none
  }

}

p {
  margin: 0;
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

label {
  font-size: 16px;

  @include below($tablet) {
    font-size: 12px;
  }

}

.page-title {
  margin: 0 auto 25px;
  font-family: $titleFont;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -0.2px;
  cursor: default;

  @include below($tablet) {
    font-size: 26px;
  }

  @include below($mobileL) {
    font-size: 20px;
  }

}

.btn {
  display: block;
  position: relative;
  max-width: fit-content;
  padding: 16px 20px;
  margin: 0 auto;

  font-weight: bold;
  font-size: 16px;

  color: #FFF;
  background: $mainColor;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .15s ease-in-out;

  &.small-btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  &:hover {
    background: $mainColorHover;
  }

  @include below($tablet) {
    font-size: 14px;
    padding: 12px 17px;
  }

  @include below($mobile) {
    font-size: 12px;
    padding: 10px 15px;
  }

  &.with-arrow {
    position: relative;
    padding-right: 45px;
  }

  .arrow-img {
    position: absolute;
    width: 13px;
    height: 13px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: .15s ease-in;
  }

  &:hover {

    .arrow-img {
      transform: translateY(-50%) translateX(2px);
    }

  }

}
