body {
  margin: 0;
  padding: 0;
  font-family: SeroWebW07Regular;
}

.row {
  display: flex;
}

h1 {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 35px;
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 35px;
}

h3 {
  padding: 0;
  margin: 0;

  font-weight: 300;
  font-size: 20px;

  @include below($desktop) {
    font-size: 18px;
  }

  @include below($tablet) {
    font-size: 16px;
  }
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  width: calc(100% - 35px);

  @include below($mobileL) {
    width: calc(100% - 20px);
  }

  @include below($mobile) {
    width: calc(100% - 15px);
  }
}

input, textarea, button, select {
  outline: none;
}

input, select {
  border: none;
  border-bottom: 1px solid #A8A9AD;
  padding-bottom: 15px;
  cursor: pointer;
  background: transparent;
}

img {
  width: 100%;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;

  &text:visited {
    text-decoration: none
  }

  &text:hover {
    text-decoration: none
  }

  &text:active {
    text-decoration: none
  }

}

p {
  margin: 0;
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page-title {
  margin: 0 auto 25px;
  font-family: inherit;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -0.2px;
  cursor: default;

  @include below($tablet) {
    font-size: 28px;
  }

  @include below($mobileL) {
    font-size: 24px;
  }

}

.btn {
  display: block;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 20px;
  margin: 0 auto;
  color: $whiteMainColor;
  background: $mainColor;
  border-radius: 6px;

  &.withArrow {
    position: relative;
    padding-right: 45px;
  }

  .arrowBtn {
    position: absolute;
    width: 13px;
    height: 13px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: .15s ease-in;
  }

  &:hover {
    .arrowBtn {
      transform: translateY(-50%) translateX(2px);
    }
  }
}