$mainColor: #1bc37a;
$whiteMainColor: #eff3f0;
$darkMainColor: #dce9e0;

$lightGray: #d4d4d4;
$darkGray: #2A2A2D;

// adaptive
$desktopL: 1920px;
$desktop: 1440px;
$desktopM: 1240px;
$notebook: 1085px;
$tablet: 769px;
$mobileL: 481px;
$mobile: 381px;
