$mainColor: #3bb569;
$whiteMainColor: #c4f3cd;
$darkMainColor: #709f7f;

// adaptive
$desktopL: 1920px;
$desktop: 1440px;
$desktopM: 1240px;
$notebook: 1025px;
$tablet: 769px;
$mobileL: 481px;
$mobile: 361px;
