$mainColor: #2e72ae;
$whiteMainColor: #d3d9e7;
$darkMainColor: #d9d3e7;

// adaptive
$desktopL: 1920px;
$desktop: 1440px;
$desktopM: 1240px;
$notebook: 1025px;
$tablet: 769px;
$mobileL: 481px;
$mobile: 361px;
