.choices {
  position: relative;

  &.is-open {
    .choices__inner {
      border: 1px solid #8f8f8f;
    }

  }

}

.choices__list--dropdown .choices__item {
  padding: 10px 10px !important;

}

.choices__list--dropdown {
  z-index: 5;
}

.choices__inner {
  min-height: auto;
  min-width: 265px;
  padding: 6px 15px !important;

  background: #fff;
  border: 1px solid #e2e1e1;

  border-radius: 4px !important;
  white-space: nowrap;
  transition: .2s ease-in-out;

  font-size: 16px;

  @include below($tablet) {
    font-size: 14px;
  }

  &:focus {
    border: 1px solid #9f9f9f;
  }

}

.choices__list--dropdown {
  border-radius: 4px !important;
}

.choices[data-type*=select-one]:after {
  right: 15px;
}
