.choices {
  position: relative;
}

.choices__list--dropdown .choices__item {
  padding: 10px 10px !important;

}

.choices__list--dropdown {
  z-index: 5;
}

.choices__inner {
  min-height: auto;
  width: 255px;
  border-radius: 4px !important;
  box-shadow: 0 0 3px $lightGray;
  border-color: transparent;
  background: #fff;
  padding: 3px 7px !important;
}

.choices__list--dropdown {
  border-radius: 4px !important;
}

.choices[data-type*=select-one]:after {
  right: 15px;
}
