
.rangeSlider-box {
  max-width: 260px;
  margin-left: 5px;
}

.noUi-connect {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px !important;
  background: $mainColor;
}

.noUi-target {
  border: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
}


.noUi-horizontal .noUi-handle {
  width: 20px ;
  height: 20px;
  top: -5px;
  background: $mainColor;
  box-shadow: none;
  border: 1px solid #ffffff;
  transition: .15s ease-in-out;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    outline: none !important;
    transform: scale(1.1);

    &:after {
      background: #414141;
    }

  }

  &:focus {
    outline: none;
  }

  &:before {
    display: none;
  }

  &:after {
    width: 11px;
    height: 11px;
    left: 49.5%;
    top: 50%;

    background: #ffffff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: .15s ease-in-out;
  }

}

.filters__section .noUi-handle {
  top: 1px !important;
}

.credit-form__range-slider .range-slider-box {
  top: -7px;
  height: 8px;
}
