.car-info__car-slider {
  .swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .gallery-top {
    width: 100%;
  }

  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
  }

  .gallery-thumbs .swiper-slide {
    position: relative;
    width: 25%;
    height: 100%;
    opacity: 0.4;
    transition: .1s ease-in-out;
  }

  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }

}



