.car-info__car-slider {

  .swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .swiper-wrapper {
    max-height: 520px;
  }

  .swiper-slide {
    max-height: 520px;
  }

  img {
    max-height: 520px;

    object-fit: cover;
    object-position: 50% 50%;
  }

  .gallery-top {
    width: 100%;
  }

  .gallery-thumbs {
    margin-top: 5px;
    height: 20%;
    box-sizing: border-box;
  }

  .gallery-thumbs .swiper-slide {
    position: relative;
    width: 25%;
    height: 100%;
    opacity: 0.4;
    transition: .1s ease-in-out;
  }

  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }

}



