extends default/default

include components/slider
include components/brandsList
include components/moreQuestions
include components/indexDescription

include elements/breadcrumbs

block vars
  -pageOptions.title = 'Бренды'

block content
  +breadcrumbs('текущая страница', 'предыдущая страница', )
  +brandsPreview('full-list')
  +brandsList()
  +moreQestions()
  +indexDescription()
