extends default/default

include elements/breadcrumbs

include components/carInfo
include components/newArrivals
include components/tradeIn
include components/moreQuestions
include components/indexDescription

block vars
  -pageOptions.title = 'Карточка авто'

block content
  +breadcrumbs('Карточка Авто', 'Фильтр авто')
  +carInfo()
  +tradeIn()
  +moreQestions()
  +indexDescription()
