extends default/default

include components/slider
include components/brandsList
include components/moreQuestions
include components/indexDescription
include components/autosList
include components/popularModels
include components/searchAsType

include elements/breadcrumbs
include elements/carCard

block vars
  -pageOptions.title = 'Фильтр авто'

block content
  +autosList()
  +searchAsType()
  +popularModels()
  +indexDescription()
