extends default/default

include components/slider
include components/brandsListFull
include components/moreQuestions
include components/indexDescription
include components/autosList

include elements/breadcrumbs
include elements/carCard

block vars
  -pageOptions.title = 'Фильтр авто'

block content
  +autosList()
  +indexDescription()
