extends default/default

include components/slider
include components/brandsList
include components/popularModels
include components/searchAsType
include components/newArrivals
include components/tradeIn
include components/advantages

block vars
  -pageOptions.title = 'Главнaя'

block content
  +slider()
  +brandsList()
  +popularModels()
  +searchAsType()
  +newArrivals()
  +tradeIn()
  +advantages()
