extends default/default

include components/slider
include components/brandsList
include components/popularModels

block vars
    -pageOptions.title = 'Главнaя'

block content
    +slider()
    +brandsList()
    +popularModels()