mixin breadcrumbs(nextLink, middleLink)
  +b.breadcrumbs
    +e.A.link(href="/") Главная
    if middleLink
      +e.A.link(href="#")= middleLink
      +e.A.link.currentLink(href="#")= nextLink
    else
      +e.A.link.currentLink(href="#")= nextLink

