mixin carCard(photo, photo2, photo3, location, name, complectation, tth, price, credit, special)
  +b.car-card
    +e.item-box
      +e.car-photos.swiper-container.js-carCardSwiper
        .swiper-wrapper
          +e.photo.swiper-slide
            IMG(src= photo)
          +e.photo.swiper-slide
            IMG(src= photo2)
          +e.photo.swiper-slide
            IMG(src= photo3)
        A.swiper-pagination.swiper-pagination-bullets
        A.swiper-scrollbar
      +e.location= location
      +e.car-name= name
      +e.car-complectation= complectation
      +e.car-tth= tth
      +e.car-prices
        if special
          +e.price-box
            +e.price-name Спецпредложение:
            +e.price-count= special
          +e.just-price
            +e.price-name Начальная цена:
            +e.price-count= price
        else
          +e.price-box
            +e.price-name Цена:
            +e.price-count= price
      +e.btns
        +e.BUTTON.button-offer.btn Зарезервировать автомобиль
        +e.BUTTON.button-credit.btn Купить в кредит от
          SPAN= credit
