mixin carCard(photo, photo2, photo3, location, name, complectation, year, color, engine, run, transm, price, credit, special)
  +b.car-card.swiper-slide
    +e.item-box
      +e.car-photos.swiper-container.js-carCardSwiper
        .swiper-wrapper
          +e.photo.swiper-slide
            IMG(src= photo)
          +e.photo.swiper-slide
            IMG(src= photo2)
          +e.photo.swiper-slide
            IMG(src= photo3)
        A.swiper-pagination.swiper-pagination-bullets
        A.swiper-scrollbar
      +e.location= location
      +e.car-name= name
        +e.A.car-link(href="#")
      +e.car-year
        +e.tth-value= year
      +e.car-complectation= complectation
      +e.car-tth
        +e.tth-element
          +e.tth-ico
            SVG
              USE(xlink:href="../img/spritemap.svg#card_colors")
          +e.tth-value= color
        +e.tth-element
          +e.tth-ico
            SVG
              USE(xlink:href="../img/spritemap.svg#card-engine-v2")
          +e.tth-value= engine
        +e.tth-element
          +e.tth-ico
            SVG
              USE(xlink:href="../img/spritemap.svg#card-speed-v2")
          +e.tth-value= run
        +e.tth-element
          +e.tth-ico
            SVG
              USE(xlink:href="../img/spritemap.svg#card-transmission-v2")
          +e.tth-value= transm
      +e.car-prices
        if special
          +e.just-price.fix-price
            +e.price-count= price
          +e.price-box
            +e.price-count= special
        else
          +e.price-box.css-price
            +e.price-count= price
      +e.btns
        +e.BUTTON.button-offer.js-open-popup.btn Зарезервировать автомобиль
        +e.BUTTON.button-credit.js-open-popup.btn Купить в кредит от
          SPAN= credit
