mixin checkbox(name, count)
  +b.LABEL.checkbox-l.js-toggle-checkbox
    +e.INPUT.checkbox-input.js-input-toggle(type='checkbox')
    +e.checkMark
    +e.SPAN.checkbox-name= name
    if (count)
      +e.SPAN.checkbox-count= count
