mixin checkboxMod(name, price)
  +b.LABEL.checkbox-l.checkbox-l--mod
    +e.INPUT.checkbox-input.js-toggle-checkbox(type='checkbox')
    +e.check-mark
    +e.SPAN.checkbox-name= name
    +e.SPAN.checkbox-price= price
