mixin checkboxColor()
  +e.LABEL.colorLabel.js-color-toggle(style="background: red")
    INPUT.color-checkbox(type='checkbox')
    SVG.checkColor
      USE(xlink:href="../img/spritemap.svg#checksolid")
