.searchAsType-box {
  padding: 70px 0;

  @include below($notebook) {
    padding: 60px 0;
  }

  @include below($tablet) {
    padding: 50px 0;
  }

  @include below($mobileL) {
    padding: 30px 0;
  }

}

.searchAsType {

  &-slider {
    padding: 0 20px !important;

    @include below($tablet) {
      padding: 0px !important;
    }
  }

  &__title {
    @include below($mobileL) {
      margin: 0 auto 10px;
    }
  }

  &__list {
    margin-top: 40px;
  }

  &__descr-text {
    max-width: 980px;
    margin: 0 auto;

    text-align: center;
  }

  &__item-logo {
    display: flex;
    position: absolute;

    width: 100%;
    max-width: 285px;
    height: 100%;

    border-radius: 4px;
    transition: .25s ease-in-out;
    z-index: -1;

    img {
      margin: auto;
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #00000055;
      border-radius: 5px;
      transition: .15s ease-in-out;
    }

  }

  &__button-prev,
  &__button-next, {
    position: absolute;
    display: flex;
    top: 56.4%;
    transform: translateY(-50%);
    cursor: pointer;

    z-index: 10;

    svg {
      width: 17px;
      height: 17px;
      padding: 8px;
      margin: auto 0;

      background: #FFF;
      border-radius: 50%;
      box-shadow: 0 0 5px #929292;
      transition: .15s ease-in-out;
      opacity: .75;

      &:hover {
        opacity: 1;
        box-shadow: 0 0 10px #c2c0c0;
      }

      @include below($tablet) {
        width: 14px;
        height: 14px;
        padding: 5px;
      }

      @include below($mobileL) {
        box-shadow: none;
        border: none;
        background: none;
      }

    }

    &:focus {
      outline: none;
    }
  }

  &__button-prev {
    left: 3px;

    @include below($mobileL) {
      left: -8px
    }

  }

  &__button-next {
    right: 3px;
    transform: translateY(-50%) rotate(180deg);

    @include below($mobileL) {
      right: -8px
    }

  }

  &__slide-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    max-width: 360px;
    min-width: 255px;
    margin: 0 auto;

    border-radius: 4px;
    overflow: hidden;

    &:hover .searchAsType__item-logo::before {
      opacity: 0;
      transform: scale(.95);
      border-radius: 10%;
    }

  }

  &__item {
    height: 290px !important;

    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;

    div {
      cursor: inherit;
    }
  }

  &__item-name {
    max-width: 285px;
    margin-top: auto;
    padding: 0 15px;

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
  }

  &__item-total {
    max-width: 285px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;

    margin-top: 5px;
    margin-bottom: 30px;
  }

}
