include ../bemto/lib/index
include footer
include head

include ../components/header

-
  const pageOptions = {
    title: '',
  }

block vars

doctype html
html(lang='ru')
  +head()
  body
    +header()
    MAIN.wrapper
      block content
      +footer()
    .js-overlay.overlay
